/* 태블릿 */

@media all and (min-width:768px) and (max-width:1024px) {

/* header */

header, .center {width: 100%;}
    
.logo {width: 30%; margin-left: 30px;}

.topmenu, nav {display: none;}

/* nav */
    
.m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}

.m_icon{position: absolute; top: 40px; right: 30px;}

.btn_close{position:fixed; top:0; right:-100%;}
    
#m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll;}

#m_gnb>li>a {color: #fff; font-size: 1.7em; text-transform: uppercase; line-height: 2.5; text-indent: 40px;}

.m_sub{position:static; background-color:rgba(255,255,255,0.2);}

.m_sub>li{border-bottom: 1px solid #dadada;}

.m_sub>li>a{color: #fff; font-size: 1.5em; line-height: 2.5; text-indent: 40px;}

/* visual */

#visual, .ban{height:40vw;}

.ban>p, .ban span{margin:20% 0; font-size:3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}

/* container top */

.product>div {display: flex; flex-wrap: wrap;}

.product_box {margin: 1.5% auto; float: none;}

.product_top {justify-content: flex-start;}

.product_bot {justify-content: flex-end;}

.floor {order: 1;} .stone {order: 3;}
.wallpaper {order: 2;} .windows {order: 4;}

/* container bottom */

.board>div {margin: 0 auto; display: flex; flex-wrap: wrap;}

.board_box{float:none; justify-content:center;}
    
.board_box>div{margin:0; padding:0;}
    
.service>div{margin-top:0;}
    
.recruit, .onshop{margin-left:0; margin-right:40px;}
    
.contribution, .gallery{margin-left:40px;}

/* footer */

footer>div{padding:2% 0 7%;}

.foot_logo {width: 30%; margin-left: 30px;}

.foot_menu {width: 35%;}

form {width: 24%;}

small {position: absolute; bottom: 0; left: 40px; width: 100%; line-height: 1.5;} }

/* 모바일 */

@media all and (max-width:767px) {

/* 100% 만들기 */
header, .center {width: 100%;}

/* display none 시키기 */

.topmenu, nav {display: none;}

/* header */

.main {position: relative;}

.logo {width: 30%; margin: 10px 0;}

.logo img {width: 100%; height: 100%;}

.m_icon {width: 5%; height: 5%; position:absolute; top:3%; right:30px;}

.m_icon img{width: 100%; height: 100%;}

/* nav */
.m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}

#m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll;}

#m_gnb>li>a {color: white; font-size: 1.4em; text-transform: uppercase; line-height: 2.3; text-indent: 40px;}

.m_sub {position: static; background-color: rgba(255,255,255,0.2);}

.m_sub>li {border-bottom: 1px solid #dadada;}

.m_sub>li>a {color: #fff; font-size: 1.2em; line-height: 2.5; text-indent: 40px;}
    
.m_icon {position: absolute; top: 20%; right: 3%;}
    
.btn_close {position: fixed; top: 0; right: -100%;}

/* banner */
#visual, .ban{height:40vw;}

.ban>p, .ban span{margin:20% 0; font-size:3vw; text-align: center; text-shadow: 1px 1px rgba(0,0,0,0.4);}

.btn_banner{bottom: 5px;}

/* container */

/* container top */

.product_box>div {margin: 5% auto;}

.product_box {width: 50%;}

.img {width: 100%; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; background-color: rgb(78,78,78);}

.img>img {width: 100%; height: auto; opacity: 1;}

.product_top .linetop, .product_bot .linebot, .product_box:after {display: none;}

.product_box>a>.mobile {position: absolute; display: block; color: #fff; font-size: 5vw; top: 3.5vw; left: 3.5vw; border: 2px solid #dadada; width: 80%; text-align: center; padding: 15.5vw 1vw 15.5vw;}

/* container bottom */
.board{margin:5% auto; padding:0; background-color:#fff;}

.board>div{margin:0;padding:0;}
    
.board .botBox{width:100%;}

.clip img{width:100%;}

.co_info>div{width:50%; height:20vw; margin:5% auto;}

.co_info>div>p{display:none;}

.co_info>div>h3{font-size:4vw; padding:0; line-height:2.1em;}

.co_info>div>a{margin:0 auto; width:80%; height:10vw; line-height: 10vw; font-size:4vw;}

.promote{margin:0 0 2.5%; width:100%; height:100%;}

.news ul{width:60%; padding-left:25%; margin:auto; border-right:none;}

.news{width:100%; padding-bottom:10%; border-bottom:1px dashed #ccc;}

.notice{position:relative; width:100%; padding-bottom:10%;}

.news .more{left: 90%;}

.notice .more{top: 44px; left: 90%;}

.service>div{margin:2.5% 0 0; width:50%; height:50%; background-repeat:no-repeat; background-size:100%; background-position:80% 50%;}

.onshop ul{display:none;}

.service>div h3, .service>div span{text-align:center; font-size:4vw; padding:0; line-height:2em;}
    
.service>div .mMore{display: block; text-align: center; color: white; border: 1px solid white; margin:5% auto 5%; transition:0.2s; width:80%; height:10vw; line-height: 10vw; font-size:4vw;}

.service>div .mMore:hover{text-decoration: none;}

/* footer */

.foot_logo{float:none; display:flex; flex-wrap: wrap;}

.foot_menu{padding-bottom:2%;}

small{line-height: 1.5;}

form{top:2%; left:2%;} }