@charset "UTF-8";
@import url(common.css);
/*-----------------------------------------------------------------------------*/

/* SUB SITE */
.local_nav {background-color: #ece7e7;}

#local_gnb>li {position: relative; float: left; width: 150px; text-align: center; background: url(../images/sub/ico_subarrow.png) no-repeat 90% 50%; border-right: 1px solid #d8d5d5; box-sizing: border-box;}

#local_gnb>li>a {display: block; color: #8a8a8a; line-height: 40px;}

#local_gnb>.none {background: none;}

/*sub 2depth*/

.local_sub {display: none; position: absolute; top: 40px; left: 0px; width: 100%; border-left: 1px solid #d8d5d5; border-right: 1px solid #d8d5d5; box-sizing: border-box; background-color: #ece7e7;}

.local_sub>li>a {display: block; line-height: 40px; text-align: center; border-top: 1px solid #d8d5d5; border-bottom: 1px solid #d8d5d5; color: #8a8a8a;}

.local_sub>.border_none>a {border-bottom: 0px;}

.local_sub>li:hover, .local_sub>li:focus, .local_sub>li.on {background-color: #d8d5d5;}

/*sub container*/

#co_about {padding:100px 0;}

#co_about div>p>span {color: #f37321;}

#co_about>div>.title {font-size: 2em;}

#co_about>div>.title:before {content: ''; display: block; float:left; width:3px; height:35px; margin-top:4px; margin-right: 5px; background: #f37321;}

/*sub container top*/

#co_about>.co_introduce>.title>span {color: #8a8a8a; font-size: 0.6em; font-weight: normal;}

.co_introduce {margin-bottom:100px; background: url(../images/sub/bg_subcon.jpg) no-repeat 0 70%;}

.co_introduce>p {color: #000; font-size: 1.3em; line-height: 1.5;}

.co_introduce>.eng {padding: 50px 10px; font-size: 30px;}

.co_introduce>.last {padding-top: 50px;}

/*sub container bottom*/
#co_about>.co_vision>.title:before {margin-top: 0;}

.co_vision>.box {float: left;}

.textbox {width: 25%; margin-top:45px; padding: 50px 40px; border:1px solid #e8ded7; border-radius: 25px; box-sizing: border-box; background: #fef4ed;}

.textbox>p {font-size: 1.5em; text-align: center; line-height: 1.5;}

.lead {font-size: 1.8em;}

/*사업비전 타원형 디자인*/

.iconbox{width: 68%; margin-top:45px; margin-left:5%;}

.circle{padding: 20px 35px; border-radius:50px; border:1px solid #ef9155; box-sizing: border-box; margin-bottom: 58px;}

.circle>p {float: left; width: 20%; padding-left:10%; font-weight: 500; font-size: 1.5em;}

.circle>span {float: left; display: block; width: 70%; padding-top: 4px; font-size: 1.2em; text-align: center;}

/*sub container icon*/

.iconbox>.value {background: url(../images/sub/ico_highvalue.png) no-repeat 5% 50%;}

.iconbox>.global {background: url(../images/sub/ico_globalmarket.png) no-repeat 5% 50%;}

.iconbox>.business {margin-bottom: 0; background: url(../images/sub/ico_newbusiness.png) no-repeat 5% 50%;}

/*-----------------------------------------------------------------------------*/

/* 태블릿 */

@media all and (min-width:768px) and (max-width:1024px) {

/* header */

header, .center {width: 100%;}
    
.logo {width: 30%; margin-left: 30px;}

.topmenu, nav {display: none;}

/* nav */
    
.m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}

.m_icon {position: absolute; top: 40px; right: 30px;}

.btn_close {position: fixed; top: 0; right: -100%;}
    
#m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll;}

#m_gnb>li>a {color: #fff; font-size: 1.7em; text-transform: uppercase; line-height: 2.5; text-indent: 40px;}

.m_sub {position:static; background-color:rgba(255,255,255,0.2);}

.m_sub>li {border-bottom: 1px solid #dadada;}

.m_sub>li>a {color: #fff; font-size: 1.5em; line-height: 2.5; text-indent: 40px;}

/* banner */

.sub_visual, .sub_visual>img {height: 25vw;}

.sub_visual>img {width: 100%;}

/* sub container top */

.co_introduce {background: none;}

/* sub container bottom */

.co_vision {display: flex; flex-direction: column;}
    
.co_vision>.box {width: 100%;}

.textbox {margin: 50px 0; justify-content: center;}

.iconbox {width: 100%; margin: 0;}

.circle>p {font-size: 2.5vw;}

.circle>span {font-size: 2vw;}

#subcon>.subconBot>.box2>.circle{float:none; display:flex; background-size:5%;}

#subcon>.subconBot>.box2>.circle>p{padding:0; margin:2% 0% 2% 12%; font-size:1.3em;}

#subcon>.subconBot>.box2>.circle>span{padding:0; margin:auto; font-size:1.2em;}

/* footer */

.tail>div{padding:2% 0 7%;}

.foot_logo {width: 30%; margin-left: 30px;}

.foot_menu {width: 35%;}

form {width: 24%;}

small {position: absolute; bottom: 0; left: 40px; line-height: 1.5;} }

/* 모바일 */

@media all and (max-width:767px) {

/* 100% 만들기 */
header, .center {width: 100%;}

/* display none 시키기 */

.topmenu, nav {display: none;}

/* header */

.main {position: relative;}

.logo {width: 30%; margin: 3vw 0;}

.logo img {width: 100%; height: 100%;}

.m_icon {width: 5%; margin: 2.5vw 0;}

.m_icon img {width: 100%; height: 100%;}

/* nav */
.m_icon, .m_icon>a, #m_gnb, #m_gnb a, .m_sub a, .btn_close {display: block;}

#m_gnb {position: fixed; top: 0; right: -100%; z-index: 9999; background-color: rgba(78,78,78,0.9); width: 50%; height: 100%; overflow-y: scroll;}

#m_gnb>li>a {color: white; font-size: 1.4em; text-transform: uppercase; line-height: 2.3; text-indent: 15px;}

.m_sub {position: static; background-color: rgba(255,255,255,0.2);}

.m_sub>li {border-bottom: 1px solid #dadada;}

.m_sub>li>a {color: #fff; font-size: 1.2em; line-height: 2.5; text-indent: 15px;}
    
.m_icon {position: absolute; top: 20%; right: 3%;}
    
.btn_close {position: fixed; top: 0; right: -100%;}

/* banner */

.sub_visual, .sub_visual>img{height:25vw;}

.sub_visual>img{width:100%;}

/* subgnb */

#local_gnb>li {width: 33.3%;}

#local_gnb>li>div {width: 100%;}

#local_gnb>li>a, .local_sub>li>a {text-align: left; font-size: 0.8em;}

/* sub container top */

.co_introduce {background: none;}

.co_introduce>.title>span {display: block; font-size: 0.5em;}

.co_introduce>.eng {padding: 20px 0; font-size: 5vw;}

.co_introduce>.lead, .co_introduce>.last {padding: 20px 0; font-size: 4vw;}

/* sub container bottom */

.co_vision {display: flex; flex-direction: column;}
    
.co_vision div {width: 100%; border-radius: 0; border: none;}

.iconbox {margin: 0;}

.iconbox>.circle {float: none; display: flex; flex-wrap: wrap; background-position: 50% 30%; background-color: #f7f7f7; margin-top: 20px; margin-bottom: 0; padding: 10% 0;}
    
.iconbox>.circle>p{float:none; display:flex; flex-direction: column; width:100%; padding: 50px 0 0; text-align: center; font-size: 4vw;}

.iconbox>.circle>span{margin:auto; font-size:3vw;}
    
/* footer */

.tail {margin-top:10px;}

.tail>div {padding: 0;}

.foot_logo {float: none; width: 30%; margin: 10px 0;}

.foot_logo img {width: 100%; height: 100%;}

.foot_menu {display: none;}

small {line-height: 1.5;}

.tail>div {position: relative;}

form {float: none; position: absolute; top: 0; right: 0; margin-top: 0;} }
